<h1>Welcome to slyMVC!</h1>

<div id="content">
    <p>The page you are looking at is being generated dynamically by slyMVC.</p>

    <p>If you would like to edit this page you'll find it located at:</p>
    <code>{{ app_folder }}views/site/index.twig</code>

    <p>The corresponding controller for this page is found at:</p>
    <code>{{ app_folder }}controllers/Welcome.php</code>
    <p>
        If you are exploring slyMVC for the first time, you should start by reading the
        <a href="http://docs.slymvc.com" target="_blank">User Manual</a>
    </p>

    <code>
        {% for k, v in load_time %}
            <span style="display:inline-block;width:200px;">{{ k|replace('_', ' ')|title }}</span> : {{ v }}<br />
        {% endfor %}
        <span style="display:inline-block;width:200px;">Total Render Time</span> : {{ (start_time - now)|round(3) }} seconds
    </code>
</div>