<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page_title ~ ' ' ~ site_title }}</title>
    {% include 'templates/partials/index/stylesheets.twig' %}
    {% include 'templates/partials/index/javascript.twig' ignore missing %}
</head>
<body>