<script type="text/javascript">
    less={env:'development'};
    window.baseUrl  = '{{ base_url }}';
    window.Profiler = {{ profiler|raw }};
    if ( window.Profiler ) {
        window.ProfilerData = '{{ all_json|raw }}';
        console.log(window.ProfilerData);
    }
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{{ js }}system.js"></script>