@import "elements";
@import "grid";
@import "icons";

/*****************
* Default Styles *
******************/

/* Site Colors */
@white:    #FFFFFF;
@black:    #040000;
@blue:     #3498DB;
@darkblue: #2C3E50;
@grey:     #CCCCCC;

@link-hover:  @blue;

.font{font-family:'Ubuntu',sans-serif;}
.f-light{.font;font-weight:300;}.f-normal{.font;font-weight:400;}.f-bold{.font;font-weight:700;}
.font-code{font-family:'Courier New',sans-serif;}

a {
  text-decoration:none;
  color: @blue;
  &:hover{border-bottom:1px dashed @link-hover;color:@link-hover;}
}

@h1: 2.5em;
@h2: 2em;
@h3: 1.25em;
@h4: 1em;

h1, h2, h3, h4, h5 { .f-light; margin:0;}
h1 { font-size: @h1; } h2 { font-size: @h2; } h3 { font-size: @h3; } h4 { font-size: @h4; }

html{
  height: 100%;
}

body {
  .f-normal;
  color: @black;
  height: 100%;
  margin:0;
  padding:0;
}

/*****************
*  Begin Styles  *
******************/



/*****************
* Tablet Screens *
******************/
@media handheld, only screen and (max-width:1023px) {

}

/*****************
* Mobile Screens *
******************/
@media handheld, only screen and (max-width:767px) {

}